<form action="/marinas/<%= @marina.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="put" />
  <p>Edit</p>
  <input type="text" name="marina[name]" value="<%= @marina.name %>" /><br>
  <input name="marina[city]" value="<%= @marina.city %>" /><br>
  <input type="text" name="marina[state]" value="<%= @marina.state %>"><br>
  <label for="marina_has_boat_ramp">Boat Ramp?</label>
  <select class="" name="marina[has_boat_ramp]">
    <option value="false">false</option>
    <option value="true">true</option>
  </select><br>
  <input type="number" name="marina[low_tide_depth]" value="<%= @marina.low_tide_depth %>"><br>
  <input type="number" name="marina[high_tide_depth]" value="<%= @marina.high_tide_depth %>"><br>
  <input type="submit" />
</form>
