<%= link_to "All Marinas", marinas_path %>

<h1><%= link_to "#{@marina.name}", controller: "marinas", action: "show_vessels", id: @marina.id %></h1>
<p>Marina id: <%= @marina.id %></p>
<p><%= @marina.city %>,
<%= @marina.state %></p>
<p>Has a boat ramp?  <%= @marina.has_boat_ramp %></p>
<p>Depth at low tide:  <%= @marina.low_tide_depth %></p>
<p>Depth at high tide:  <%= @marina.high_tide_depth %></p>
<p>Created: <%= @marina.created_at %></p>
<p>Updated: <%= @marina.updated_at %></p>
