<%= link_to "All Marinas", marinas_path %>
<%= link_to "All Vessels", vessels_path %>

<h1><%= @vessel.name %></h1>

<p>Vessel id: <%= @vessel.id %></p>
<p><%= @vessel.make %>--<%= @vessel.length_overall %></p>
<p>Created: <%= @vessel.created_at %></p>
<p>Updated: <%= @vessel.updated_at %></p>
<p>Marina ID: <%= @vessel.marina_id %></p>
<p>Mast:  <%= @vessel.mast_text %></p>

<h2><%= link_to 'Update Vessel', edit_vessel_path %></h2>
