<a href="/vessels">All Vessels</a>

<h1><%= @vessel.name %></h1>

<p><%= @vessel.make %>--<%= @vessel.length_overall %></p>
<p>Created: <%= @vessel.created_at %></p>
<p>Updated: <%= @vessel.updated_at %></p>
<p>Marina ID: <%= @vessel.marina_id %></p>
<p>Mast Currently UP??  <%= check_box_tag 'eula', 'accepted', true, disabled: true %></p>
