<h1>Update Pilot Form</h1>

<%= form_with url: "/pilots/#{@pilot.id}", method: :patch, local: true do |form| %>
  <%= form.label :name%>
  <%= form.text_field :name%>
  <%= form.label :is_captain%>
  <%= form.text_field :is_captain%>
  <%= form.label :years_experience%>
  <%= form.text_field :years_experience%>
  <%= form.submit 'Update Pilot'%>
<%end%>