<h1>Create New Airline Form</h1>

<%= form_with url: '/airlines', method: :post, local: true do |form| %>
  <%= form.label :name%>
  <%= form.text_field :name%>
  <%= form.label :fleet_size%>
  <%= form.text_field :fleet_size%>
  <%= form.label :is_mainline_passenger%>
  <%= form.text_field :is_mainline_passenger%>
  <%= form.submit 'Create Airline'%>
<%end%>
