<h1>Airline Record Information</h1>

  <h2>Airline Name:<%=@airline_obj.name%></h2>
  <h2>Airline Fleet Size:<%=@airline_obj.fleet_size%></h2>
  <h2>Is A Mainline Passenger Airline:<%=@airline_obj.is_mainline_passenger%></h2>
  <h2>Record Was Created At:<%=@airline_obj.created_at%></h2>
  <h2>Record Was Last Updated At<%=@airline_obj.updated_at%></h2>

