<h1>Airline Record Information</h1>

  <h2>Airline Name: <%=@airline.name%></h2>
  <h2>Airline Fleet Size: <%=@airline.fleet_size%></h2>
  <h2>Is A Mainline Passenger Airline: <%=@airline.is_mainline_passenger%></h2>
  <h2>Record Was Created At: <%=@airline.created_at.strftime("%m/%d/%Y %I:%M %p")%></h2>
  <h2>Record Was Last Updated At: <%=@airline.updated_at.strftime("%m/%d/%Y %I:%M %p")%></h2>
  <h2>Total Number Of <%=@airline.name%> Pilots: <%=@airline.pilots.count%></h2>
